## DATA STRUCTURES PART 1

### LISTS
#### Lists are ordered collections of items in Python. They are mutable, meaning their elements can be modified after creation.  They  are created using square brackets [] or the list() constructor.

#### Common List Methods

In [132]:
# Creating a list

In [133]:
my_list = [1,2,3,4,5] #Lists can also be created using the list() constructor: my_list = list([1, 2, 3, 4, 5])

##### append(): Adds an element to the end of the list.

In [134]:
my_list.append(6)
print(my_list)

[1, 2, 3, 4, 5, 6]

##### extend(): Extends the list by appending elements from another list.

In [135]:
my_list.extend([7,8,9,10])
print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

##### insert(): Inserts an element at a specified position.

In [136]:
my_list.insert(1,1) # start with position and what you need inserted
print(my_list)

[1, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

##### remove(): Removes the first occurrence of a specified value.

In [137]:
my_list.remove(1) # You can only remove one 1 item at a time from the list
print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

##### pop(): Removes and returns the element at a specified position (default is the last element).

In [138]:
popped_element=my_list.pop(5)
print(popped_element)
print(my_list)

6
[1, 2, 3, 4, 5, 7, 8, 9, 10]

##### index(): Returns the index of the first occurrence of a specified value.

In [139]:
index = my_list.index(10)
index

8

##### count(): Returns the number of occurrences of a specified value.

In [140]:
count = my_list.count(9)
print(count)

1

##### sort(): Sorts the list in ascending order.

In [141]:
my_list.sort()
my_list

[1, 2, 3, 4, 5, 7, 8, 9, 10]

##### reverse(): Reverses the order of elements in the list.

In [142]:
my_list.reverse() # sort first before reverse
my_list

[10, 9, 8, 7, 5, 4, 3, 2, 1]

### TUPLE
##### A tuple is just like a list BUT immutable (cannot change after creation).
Tuples are created using parentheses () or the tuple() constructor.

#### Common Tuple Methods

In [143]:
# Creating a tuple
my_tuple = ('milk','sugar','cinnamon','oats','sugar')

##### count(): Returns how many times a value appears

In [144]:
count = my_tuple.count('sugar')
print(count)

2

##### index():Returns position of the first occurrence

In [145]:
index = my_tuple.index('oats')
print(index)

3

In [146]:
 print(my_tuple[2]) #prints 3rd item in a tuple

cinnamon

### DICTIONARY
#### Dictionaries are unordered collections of key-value pairs. They are mutable and are useful for storing data in the form of key-value mappings.
Dictionaries are created using curly braces {} or the dict() constructor.

In [147]:
# Creating a dictionary
my_dict = {'name':'Vicky','age':29,'city':'Nairobi'} # or using constructor: my_dict = dict(name='Vicky', age=29, city='Nairobi')

##### Common Dictionary Methods

##### get(): Returns the value for a specified key.

In [148]:
age = my_dict.get('age')
print(age)

29

##### indexing : Indexing in dictionaries means accessing a value using its key.

In [149]:
# indexing[] In a dictionary, the square brackets [] are used to access a value using its key (NOT position).
age = my_dict['age']
print(age)

29

##### items(): Returns a view object containing key-value pairs.

In [150]:
items = my_dict.items()
print(items)

dict_items([('name', 'Vicky'), ('age', 29), ('city', 'Nairobi')])

##### keys(): Returns a view object containing the keys.

In [151]:
keys = my_dict.keys()
keys

dict_keys(['name', 'age', 'city'])

##### values(): Returns a view object containing the values.

In [152]:
values = my_dict.values()
values

dict_values(['Vicky', 29, 'Nairobi'])

##### update(): Updates the dictionary with the specified key-value pairs from another dictionary or iterable.

In [153]:
my_dict.update({'age':30,'gender':'female','country':'Kenya'})
my_dict

{'name': 'Vicky',
 'age': 30,
 'city': 'Nairobi',
 'gender': 'female',
 'country': 'Kenya'}