#### Arithmetic Operators
 Arithmetic operators are used to perform mathematical calculations on numbers (int, float).

In [150]:
#Addition(+)
x = 10
y = 15
print(x+y)

25

In [151]:
# Subtraction(-)
x = 10
y = 15
print(x-y)

-5

In [152]:
# Multiplication (*)
x = 10
y = 15
print(x*y)

150

In [153]:
# Division(/)
x = 100
y = 20
print(x/y) #Returns a float (decimal result).

5.0

In [154]:
# Floor Division (//)
x = 100
y = 7
print(x//y) # Returns the whole number only (no decimal).

14

In [155]:
#  Modulus(%)
x = 100
y = 7
print(x%y) # Returns the remainder after division.

2

In [156]:
# Exponentiation (**)
x = 5
y = 3
print(x**y) # Raises a number to a power.

125

### Comparison Operators
Comparison operators are used to compare two values.
They always return a Boolean value:
True or
False

In [157]:
# Greater than(>)
x = 20
y = 7
print(x>y)

True

In [158]:
# less than(<)
x = 20
y = 7
print(x<y)

False

In [159]:
# Equal to(==)
x = 20
y = 7
print(x==y)

False

In [160]:
# Greater than or equal to(>=)
x = 20
y = 7
print(x>=y)

True

In [161]:
# Less than or equal to(<=)
x = 20
y = 7
print(x<=y)

False

In [162]:
# Not equal to (!=)
x = 20
y = 7
print(x!=y)

True

###  Logical Operators
Logical operators are used to combine conditional statements.
They return a Boolean value (True or False).

In [163]:
x = 9
y = 10

In [164]:
# and 
print(x > 5 and y < 5)  # Returns True only if both conditions are True.

False

In [165]:
# or
print(x > 5 or y < 5) # Returns True if at least one condition is True.

True

In [166]:
# not
print(not(x > 6)) # Reverses the result (negates the condition).

False

### Assignment Operators
Assignment operators are used to assign values to variables and sometimes update them at the same time.

In [167]:
# Add and Assign (+=)
x = 10
x += 1
print(x)

11

In [168]:
# Subtract and Assign (-=)
x = 11
x -= 2
x

9

In [169]:
# Multiply and Assign (*=)
x = 9
x *= 3
x

27

In [170]:
# Divide and Assign (/=)
x = 27
x /= 4
x

6.75

In [171]:
# Floor Divide and Assign (//=)
x = 6.75
x //= 2
x

3.0

In [172]:
# Modulus and Assign (%=)
x = 2
x %= 2
print(x)

0

In [173]:
# Exponent and Assign (**=)
x = 5
x **= 3
print(x)

125

### Bitwise Operators
Bitwise operators work on binary (bit) level - they operate directly on the 0s and 1s of numbers.

In [174]:
x = 10
y = 3

In [175]:
bin(10) # binary figure for 10

'0b1010'

In [176]:
bin(3) # binary figure for 3

'0b11'

In [177]:
# Bitwise AND (&) - Both must be 1 to get 1.
#   1010 (10)
# & 0011 (3)
#   0010
# We then convert 10 (base 2) to decimal (base 10)
# (1*2**1)+(0*2**0)
# (1*2)+(0*1)
# 2+0
# 2
x & y

2

In [178]:
# Bitwise OR (|) - If at least one is 1 → result is 1.
#   1010
# | 0011
#   1011
# We then convert 1011 (base 2) to decimal (base 10)
# (1*2**3)+(0*2**2)+(1*2**1)+(1*2**0)
# (1*8)+(0*4)+(1*2)+(1*1)
# 8+0+2+1
# 11
x|y

11

In [179]:
# Bitwise XOR (^) - It returns 1 only if the bits are different.
#   1010
# ^ 0011
#   1001
# We then convert 10 (base 2) to decimal (base 10)
# (1*2**3)+(0*2**2)+(0*2**1)+(1*2**0)
# (1*8)+(0*4)+(0*2)+(1*1)
# 8+0+0+1
# 9
x^y

9

In [180]:
# Bitwise NOT (~) - This flips all bits.
#  ~x = -(x + 1)
# ~10 = -11
~x

-11

In [181]:
# right Shift (>>) - Each shift divides by 2 (floor division for integers)
# Effect: Move all bits n positions to the right.
# Think of right shift as “dropping the last n bits”.
# 10/2
# 5/2
# 2
print(x >> 2)

2

In [182]:
# left Shift (<<) -  Each shift multiplies by 2.
# Effect: Move all bits n positions to the left.
# Think of left shift as “adding zeros to the right” like multiplying by 10 in decimal, but in base 2.
# 10*2
# 20*2
# 40*2
# 80
print(x << 3)

80

## Membership OperatorsPython has two membership operators:

- `in`
- `not in`

They check whether a value exists in a sequence or collection.

Sequences include:
- strings
- lists
- tuples
- sets
- dictionaries (keys)aries (keys)aries (keys)e.ries (keys)

In [183]:
a = [1,2,3,4,5]
print( 2 in a)

True

In [184]:
print( 4 not in a)

False

## Identity Operators
Python has two identity operators:
1. is
2. is not

They check if two objects are the same object in memory, not just equal in value.

In [185]:
a = [1,2,3,4,5]
b = [1,2,3,4,5]

In [186]:
# print(a==b) # == → checks if values are equal 
print( a is b) #is → checks if they are the same object in memory

False

In [187]:
print( a is not b)

True

#### Strings and Control Flow

In [188]:
# Create a string
Name_ = "ParoCyber LLC"
Name_

'ParoCyber LLC'

In [189]:
# Modify by changing everything to uppercase
#upper()
Name_ = "ParoCyber LLC"
Name_ = Name_.upper()
Name_

'PAROCYBER LLC'

In [190]:
#lower()
Name_ = "ParoCyber LLC"
Name_ = Name_.lower()
Name_

'parocyber llc'

In [191]:
#isalpha():returns True only if ALL characters are letters
Name_ = "ParoCyber LLC"
Name_ = Name_.isalpha() #returns False if there is space, number , symbol
Name_

False

In [192]:
#isdigit()
Name_ = "ParoCyber LLC"
Name_ = Name_.isdigit()
Name_

False

In [193]:
#islower():checks whether everything is lowercase
Name_ = "ParoCyber LLC"
Name_ = Name_.islower()
Name_

False

In [194]:
#isupper(): checks whether everything is uppercase
Name_ = "ParoCyber LLC"
Name_ = Name_.isupper()
Name_

False

In [195]:
# How to split and join Strings
#split()
Flowers = "Last week the singles didn't get flowers"
Flowers.split(" ") #single space as per above sentence

['Last', 'week', 'the', 'singles', "didn't", 'get', 'flowers']

In [196]:
#join()
Flowers = "Last week the singles didn't get flowers"
word = Flowers.split(" ")
"_".join(word)

"Last_week_the_singles_didn't_get_flowers"

In [197]:
#Replace
Flowers = "Last week the singles didn't get flowers"
word = Flowers.replace("singles","men")
word

"Last week the men didn't get flowers"

In [198]:
#startswith() : is a string method that checks whether a string begins with a specific value.
Flower = "roses"
Flower.startswith("s")

False

In [199]:
Flower = "roses"
Flower.startswith("r")

True

In [200]:
# endswith():a string method that checks whether a string ends with a specified value.
Flower2 = "sunflower"
Flower2.endswith("t")

False

In [201]:
Flower2 = "sunflower"
Flower2.endswith("r")

True