### Variables 
#### A variable is like a container or a label for storing a value in your computerâ€™s memory.

In [3]:
x = 5 # x stores number 5
print(x)

5

In [4]:
firstname = 'Vicky' #firstname strores text 'Vicky'
print(firstname)

Vicky

#### Data Types
Python has several built-in data types:
1. Numeric: int, float, complex
2. Sequence: list, tuple, range
3. Mapping: dt: str

#### Numeric
##### Store numbers: int = whole numbers, float = decimals, complex = real + imaginary

In [25]:
x = 2
y = 3.14
z = 2 + 3j

In [6]:
print(type(x))

<class 'int'>

In [7]:
print(type(y))

<class 'float'>

In [8]:
print(type(z))

<class 'complex'>

#### Sequence
##### Ordered collections of items; list = mutable, tuple = immutable, range = sequence of numbers

In [13]:
# Use underscore (_) to avoid conflicts with Python Keywords or Built-in functions
list_ = [1,2,3,4,5] 
tuple_ = (1,2,3,4,5)
range_ = range(1,5)

In [12]:
print(type(list_))

<class 'list'>

In [16]:
print(type(tuple_))

<class 'tuple'>

In [17]:
print(type(range_))

<class 'range'>

#### Mapping
#### Key-value pairs; access values by key

In [22]:
parocyber = {'name': 'Vicky',"age": 29,'sport':'football','food':'ugali'}

In [23]:
parocyber['name']

'Vicky'

In [26]:
Kenya = {'Riftvalley':'Narok','Kiambu':'Nairobi','Coast':'Mombasa','Western':'KisumuDala'}
Kenya['Western']

'KisumuDala'